.targeting {
  @apply flex flex-col space-y-7 text-sm;
  .title {
    @apply flex items-center font-semibold text-base;
    h6 {
      @apply text-center p-1 rounded-full bg-[#EAEAEA] w-8 h-8 pt-1;
    }
    p {
      @apply text-lg px-3;
    }
  }
  .subtitle {
    @apply flex justify-between;
    h5 {
      @apply font-semibold;
    }
    label {
      @apply inline-flex relative items-center mb-5 cursor-pointer;
      div {
        @apply w-9 h-5 rounded-full bg-gray-200 dark:bg-gray-700 after:absolute after:top-[2px] after:left-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all;
      }
    }
  }
  .textBox {
    @apply w-full px-3 py-2 border-2 rounded-lg;
  }
  .dropDown {
    @apply flex justify-between items-center w-full px-1 border-2 rounded-lg;
    .dropDownBtn {
      @apply w-11/12 py-1 overflow-hidden flex items-center;
      button {
        @apply bg-[#EAEAEA] pl-3 pr-2 py-1 rounded-md flex items-center mr-1 z-10;
        svg {
          @apply ml-1;
        }
      }
      label {
        @apply text-[#777777] w-full py-1 px-2;
      }
    }
    .svgBtn {
      @apply w-1/12 flex justify-center;
    }
  }
  .dropDownList div {
    @apply flex flex-col py-2 border rounded-lg shadow-lg;
    label {
      @apply inline-flex items-center w-full space-x-2 px-5 py-1 hover:bg-[#F5F5F5];
      input {
        @apply accent-[#7D4AEA] w-4 h-4;
      }
    }
  }
  .selectDevice {
    @apply flex justify-between space-x-4;
    label {
      @apply inline-flex items-center py-3 px-5 bg-[#F5F5F5] rounded-lg space-x-2 w-full;
      input {
        @apply accent-[#7D4AEA] w-4 h-4;
      }
      span {
        @apply flex items-center space-x-2;
      }
    }
  }
  .disabledDiv {
    pointer-events: none;
    opacity: 0.7;
    background-color: rgba(239, 239, 239, 0.3);
  }
}
