@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap';
@import './reset.css';
#modal6 {
  position: fixed;
  z-index: 9999999;
  margin: 40px;
}

.modal6-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  opacity: 1;
  transition: opacity 0.5s;
}

.hide {
  visibility: hidden;
  opacity: 0;
  /* transition: opacity 0.5s, visibility 0.5s; */
}

.modal6-popup .closeBtn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

.modal6-popup .closeBtn svg {
  width: 1.75rem;
  height: 1.75rem;
}

.modal6-popup h3 {
  font-weight: 700;
}

.modal6-popup .btnGroup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal6-popup .btnGroup button {
  border-radius: 0.5rem;
  width: 100%;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.small {
  padding: 1rem;
  max-height: 160px;
  max-width: 280px;
}

.small h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.small h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
}

.small .btnGroup button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.medium {
  padding: 3rem;
  max-height: 280px;
  max-width: 480px;
}

.medium h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.medium h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1.25rem;
}

.medium .btnGroup button {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
}

.large {
  padding: 3rem;
  max-height: 350px;
  max-width: 600px;
}

.large h3 {
  font-size: 3rem;
  line-height: 1;
}

.large h5 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 1.25rem;
}

.large .btnGroup button {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 2.5rem;
}
